body {
  background-color: #a4b8ca;
  padding: 0;
  margin: 0;
}

header {
  background-color: #6a8da9;
  height: 110px;
  padding: 0;
  margin: 0;
}

header .logo {
  height: 110px;
}

header #search {
  width: 250px;
  margin-top: 2px;
  margin-left: 1px;
}
header #search-btn {
  height: 25px;
  margin-bottom: 3px;
}

header .search-div {
  background-color: white;
}

header .button-below-search {
  width: 32%;
  font-size: small;
  border: none;
  background-color: #184f7d;
  height: 28px;
  color: white;
  border-radius: 5px;
}

header .button-below-search:hover {
  box-shadow: 2px 2px 5px white;
}

.nav-line {
  width: 100%;
  height: 5px;
  background-color: #5c5f6c;
}

nav {
  padding: 2px;
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

nav ul li {
  display: inline;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

nav ul li a:hover {
  color: white;
}

nav ul li:hover {
  color: white;
  background-color: #184f7d;
}

.nav-line-b {
  width: 100%;
  height: 2px;
  background-color: #5c5f6c;
}
.col img {
  width: 100%;
}
