* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Helvetica, sans-serif;
    color: white;
}
.container-fluid {
    position: absolute;
    height: 100%;
    padding: 10px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.col-lg-12 {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(32, 178, 170, 0.1);
}
.top-title {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 25px;
    background-color: rgba(32, 178, 170, 0.8);
    box-shadow: 0px 4px 16px rgba(32, 178, 170, 0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h4 {
    font-size: medium;
    margin: auto;
}
.order-container {
    margin-top: 20px;
    border: 1px solid rgba(32, 178, 170, 0.8);
    border-radius: 20px;
    padding-bottom: 20px;
}
.ord-box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}
/* width */
.ord-box::-webkit-scrollbar,
.invoice-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.ord-box::-webkit-scrollbar-track,
.invoice-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/* Handle */
.ord-box::-webkit-scrollbar-thumb,
.invoice-container::-webkit-scrollbar-thumb {
    background-color: rgba(32, 178, 170, 0.8);
    border-radius: 20px;
}

/* Handle on hover */
.ord-box::-webkit-scrollbar-thumb:hover,
.invoice-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(32, 178, 170, 0.8);
    border-radius: 20px;
}
p {
    font-size: smaller;
}
.ord-header,
.ord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ord-header {
    position: sticky;
    width: 100%;
    height: 25px;
    padding: 2px 28px 0px 18px;
    border: 1px solid rgba(32, 178, 170, 0.8);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
.ord {
    width: 98%;
    height: auto;
    padding: 15px 10px 0px 10px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.ord img {
    width: 20px;
    height: 20px;
}
.ord-header {
    display: flex;
    justify-content: space-between;
}

.ord-header div {
    text-align: center;
    width: 10%;
}

.ord {
    display: flex;
    justify-content: space-between;
}

.ord div {
    text-align: center;
    width: 10%;
}