<header class="px-5">
    <a href="/">
        <img id="logo" src="images/logoX.png" alt="Logo" />
    </a>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/login">Login</a>
    </nav>
</header>
