<header class="px-5">
    <img id="logo" src="images/logoX.png" alt="Logo" />
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/login">Login</a>
    </nav>
</header>
